html,
body {
    height: 100%;
    margin: 0px;
}

#root {
    height: 100%
}

.layout-container {
    height: 100%;
}

.collapsed-button {
    font-size: 16px;
    width: 64;
    height: 64;
    color: "white"
}

.content-container{
    margin: 24px 16px;
    padding: 24;
    min-height: 280;
    color: black
}